<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
     
<mapper namespace="com.example.project_team.mappers.depositAdminMapper">
	<!-- DepositAdminList -->
	<select id="DepositAdminList" resultType="com.example.project_team.dto.DepositDTO">
		SELECT * FROM TEAM_DEPOSIT_PRODUCT ORDER BY yNo
	</select>
	
	<!-- insertDeposit -->
	<insert id="insertDeposit" parameterType="com.example.project_team.dto.DepositDTO">
		INSERT INTO TEAM_DEPOSIT_PRODUCT
			VALUES((SELECT NVL(MAX(yNo)+1,1) FROM TEAM_DEPOSIT_PRODUCT), #{yName}, sysdate
					, #{interestRate}, #{ySummary}, #{yMinPrice}, #{yMaxPrice}, #{yMinDate}, #{yMaxDate}					)
	</insert>
	
	<!-- findByNum / 1건 조회 -->
	<select id="findByNum" parameterType="int" resultType="com.example.project_team.dto.DepositDTO">
		SELECT * FROM TEAM_DEPOSIT_PRODUCT WHERE yNo = #{yNo}
	</select>
	
	<!-- updateDeposit -->
	<update id="updateDeposit" parameterType="com.example.project_team.dto.DepositDTO">
		UPDATE TEAM_DEPOSIT_PRODUCT
			SET yName=#{yName}, interestRate=#{interestRate}, ySummary=#{ySummary}
				, yMinPrice=#{yMinPrice}, yMaxPrice =#{yMaxPrice}, yMinDate=#{yMinDate}, yMaxDate=#{yMaxDate}
			WHERE yNo=#{yNo}
	</update>
	
	<!-- deleteDeposit -->
	<delete id="deleteDeposit" parameterType="int">
		DELETE FROM TEAM_DEPOSIT_PRODUCT WHERE yNo=#{yNo}
	</delete>
</mapper>