<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
     
<mapper namespace="com.example.project_team.mappers.depositAdminMapper">
	<!-- DepositAdminList -->
	<select id="DepositAdminList" resultType="com.example.project_team.dto.DepositDTO">
		SELECT * FROM TEAM_DEPOSIT_PRODUCT ORDER BY yeNo
	</select>
	
	<!-- insertDeposit -->
	<insert id="insertDeposit" parameterType="com.example.project_team.dto.DepositDTO">
		INSERT INTO TEAM_DEPOSIT_PRODUCT
			VALUES((SELECT NVL(MAX(yeNo)+1,1) FROM TEAM_DEPOSIT_PRODUCT), #{yeName}, sysdate
					, #{interestRate}, #{yeSummary}, #{yeMinPrice}, #{yeMaxPrice}, #{yeMinDate}, #{yeMaxDate}					)
	</insert>
	
	<!-- findByNum / 1건 조회 -->
	<select id="findByNum" parameterType="int" resultType="com.example.project_team.dto.DepositDTO">
		SELECT * FROM TEAM_DEPOSIT_PRODUCT WHERE yeNo = #{yeNo}
	</select>
	
	<!-- updateDeposit -->
	<update id="updateDeposit" parameterType="com.example.project_team.dto.DepositDTO">
		UPDATE TEAM_DEPOSIT_PRODUCT
			SET yeName=#{yeName}, interestRate=#{interestRate}, yeSummary=#{yeSummary}
				, yeMinPrice=#{yeMinPrice}, yeMaxPrice =#{yeMaxPrice}, yeMinDate=#{yeMinDate}, yeMaxDate=#{yeMaxDate}
			WHERE yeNo=#{yeNo}
	</update>
	
	<!-- deleteDeposit -->
	<delete id="deleteByNum" parameterType="int">
		DELETE FROM TEAM_DEPOSIT_PRODUCT WHERE yeNo=#{yeNo}
	</delete>
</mapper>