<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
     
<mapper namespace="com.example.project_team.mappers.depositSignMemberMapper">
	
	<!-- findByNum / 1건 조회 -->
	<select id="findByNum" parameterType="int" resultType="com.example.project_team.dto.DepositDTO">
		SELECT * FROM TEAM_DEPOSIT_PRODUCT WHERE yeNo = #{yeNo}
	</select>
	
	<!-- accountList -->
	<select id="accountList" parameterType="String" resultType="com.example.project_team.dto.AccountDTO">
		SELECT * FROM team_account WHERE show = 'y' AND id=#{id} AND accountType = 'e' ORDER BY accountNum
	</select>
	
	<!-- pwCheck -->
	<select id="pwCheck" parameterType="com.example.project_team.dto.AccountDTO" resultType="int">
		SELECT accountPW FROM team_account WHERE accountNum = #{accountNum} AND id=#{id}
	</select>
	
	<!-- insertSign -->
	<insert id="insertSign" parameterType="com.example.project_team.dto.DepositSignDTO">
		INSERT INTO TEAM_DEPOSIT_SIGN(yeSignNo, id,yeName, yeState, depositAccountNum, accountType, accountNum, accountPW
									, yeNo, yeAmount, yeJoinDate, yeEndDate
									, rate, interestRate)
			VALUES ((SELECT NVL(MAX(yeSignNo)+1,1) FROM TEAM_DEPOSIT_SIGN), #{id}, #{yeName}, '정상', TO_CHAR(1002453 || TRUNC(DBMS_RANDOM.VALUE(1, 999999), 0)), #{accountType}
					, #{accountNum}, #{accountPW}, #{yeNo}, #{yeAmount}, #{yeJoinDate}
					, #{yeEndDate}, #{rate}, #{interestRate})
	</insert>
	
	<!-- depositSignList -->
   <select id="depositSignList" parameterType="String"
      resultType="com.example.project_team.dto.DepositSignDTO">
      SELECT * FROM TEAM_DEPOSIT_SIGN WHERE id =#{id} ORDER BY
      yeSignNo
   </select>
	
</mapper>