<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.example.project_team.mappers.LoanSignMemberMapper">

	<!-- findByNum / 1건 조회 -->
	<select id="findByNum" parameterType="int"
		resultType="com.example.project_team.dto.LoanDTO">
		SELECT * FROM team_loan_product WHERE num = #{num}
	</select>

	<!-- accountList -->
	<select id="accountList" parameterType="String"
		resultType="com.example.project_team.dto.AccountDTO">
		SELECT * FROM team_account WHERE show = 'y' AND id=#{id}
		AND accountType = 'e' ORDER BY accountNum
	</select>

	<!-- pwCheck -->
	<select id="pwCheck"
		parameterType="com.example.project_team.dto.AccountDTO"
		resultType="int">
		SELECT accountPW FROM team_account WHERE accountNum =
		#{accountNum} AND id=#{id}
	</select>

	<!-- insertSign -->
	<insert id="insertSign"
		parameterType="com.example.project_team.dto.LoanSignDTO">
		INSERT INTO team_loan_sign(loanNum, id, num,
		accountType, accountNum, accountPW
		, loanState, loanAmount, paymentDay,
		loanExecution
		, repayment, interestRate, loanPeriod, loanProductName,
		loanExpiration)
		VALUES ((SELECT NVL(MAX(loanNum)+1,1) FROM
		team_loan_sign), #{id},
		#{num}, #{accountType}
		, #{accountNum},
		#{accountPW}, #{loanState}, #{loanAmount},
		#{paymentDay}
		,
		#{loanExecution}, #{repayment}, #{interestRate}, #{loanPeriod}
		,#{loanProductName}
		, #{loanExpiration})
	</insert>

	<!-- loanSignList -->
	<select id="loanSignList" parameterType="String"
		resultType="com.example.project_team.dto.LoanSignDTO">
		SELECT * FROM team_loan_sign WHERE id =#{id} ORDER BY
		loanNum
	</select>
	
	<!-- checkIdentity -->
	<select id="checkIdentity" parameterType="String" resultType="long">
		SELECT RESIDENTREGISTRATIONNUMBER FROM team_join WHERE id = #{id}
	</select>

	<!-- 이자조회 List -->
	<select id="signList" parameterType="String"
		resultType="com.example.project_team.dto.LoanSignDTO">
		SELECT *
		FROM team_loan_sign WHERE id = #{id} ORDER BY loanNum
	</select>

	<select id="repaymentList" parameterType="list"
		resultType="com.example.project_team.dto.CalRepaymentDTO">
		SELECT *
		FROM team_loan_repayment WHERE id = #{id} ORDER BY
		loanNum
	</select>

	<!-- 납입하기-singList -->
	<select id="paySignList" parameterType="java.util.Map"
		resultType="com.example.project_team.dto.LoanSignDTO">
		SELECT * FROM team_loan_sign WHERE id =#{id} AND loanNum = #{loanNum} ORDER BY loanNum
	</select>
	
	<!-- 납입하기-repaymentList -->
	<select id="payRepaymentList" parameterType="java.util.Map"
		resultType="com.example.project_team.dto.CalRepaymentDTO">
		SELECT * FROM team_loan_repayment WHERE id =#{id} AND loanNum = #{loanNum} ORDER BY loanNum
	</select>
	
	<!-- 납입하기-update repayment -->
	<update id="updateRepayment" parameterType="com.example.project_team.dto.CalRepaymentDTO">
		UPDATE team_loan_repayment
			SET paymentRound=#{paymentRound}, interest=#{interest}, repaymentAmount=#{repaymentAmount}
				, repaymentMonth=#{repaymentMonth}, amountBalance=#{amountBalance}, payDate=#{payDate}
		WHERE loanNum=#{loanNum} AND id=#{id}
	</update>
	
	<!-- 납입하기-입출금통장잔액조회 accountBalance -->
	<select id="accountBalance" parameterType="long" resultType="int">
		SELECT balance FROM team_account WHERE accountNum=#{accountNum}
	</select>
	
	<!-- 납입하기-입출금통장잔액에서 상환금차감 -->
	<update id="subRepayment" parameterType="java.util.Map">
		UPDATE team_account
			SET balance = #{sub}
		WHERE accountNum=#{accountNum}
	</update>
	
	<!-- 납입완료-가입상태변경 -->
	<update id="accountState" parameterType="java.util.Map">
		UPDATE team_loan_sign
			SET loanState = '상환완료', loanTermination = #{payDate}
		WHERE loanNum = #{loanNum}
	</update>
	
	<!-- 중도상환 repaymentDTO update -->
	<update id="lastUpdateRepayment" parameterType="java.util.Map">
		UPDATE team_loan_repayment
			SET amountBalance = #{amountBalance}, payDate = #{payDate}
		WHERE loanNum = #{loanNum}
	</update>
	
	<!-- 중도상환 -->
	<update id="endRepayment" parameterType="com.example.project_team.dto.CalRepaymentDTO">
		UPDATE team_loan_sign
			SET loanBalance = '0', loanRepayment = #{loanRepayment}, loanTermination = #{loanTermination}
				, earlyRepayment = #{earlyRepayment}, loanState = '해지'
		WHERE loanNum = #{loanNum} 
	</update>
	
</mapper>