<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
     
<mapper namespace="com.example.project_team.mappers.LoanMemberMapper">
	<!-- LoanMemberList -->
	<select id="LoanMemberList" resultType="com.example.project_team.dto.LoanDTO">
		SELECT * FROM team_loan_product ORDER BY num
	</select>
	
	<!-- findByNum / 1건 조회 -->
	<select id="findByNum" parameterType="int" resultType="com.example.project_team.dto.LoanDTO">
		SELECT * FROM team_loan_product WHERE num = #{num}
	</select>
	
</mapper>